// Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal1', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Biblioteca Digital
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-book
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/biblioteca.jpg', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                a(href='https://sites.google.com/view/bibliotecaescuelareynaldomern/biblioteca-digital' target='_blank') Biblioteca Digital
                                br
                                | Las nuevas propuestas educativas que se vienen desarrollando en las escuelas, implican también reconsiderar la función de la Biblioteca en la institución escolar. Hasta no hace mucho tiempo el docente era el poseedor del conocimiento; el libro, un objeto sagrado y la biblioteca, un templo sólo para iniciados. Desde esta concepción los alumnos no accedían a ésta, ni muchos menos sentían la necesidad de hacerlo. Al contrario, se sentía intimidado en ese ámbito. En la actualidad las propuestas de enseñanza-aprendizaje tienen al alumno en el centro de la tarea, dándole un lugar protagónico en el proceso de aprendizaje, propiciando nuevos vínculos entre docentes y alumnos, de éstos con el conocimiento y de cada uno con sus pares. En este marco la biblioteca escolar debe ser pensada e ideada para insertarse en un contexto real, con un proyecto pedagógico concreto, adaptada a las necesidades de la institución a la que pertenece y destinada a los alumnos reales y no al alumno ideal. El lugar que ocupa la biblioteca en la institución, le permite trabajar con toda la escuela, visualizarla globalmente, por lo tanto es un excelente espacio desde el cual se pueden generar proyectos integradores. La biblioteca es entonces un ámbito en el que se conjugan el saber y el placer, lo científico y lo artístico, centro de investigación y recreación. La biblioteca se integra de este modo a las actividades de enseñanza aprendizaje de la escuela ya que desde el PCI de la Institución, se incluye como decisión curricular la formación de lectores autónomos, críticos, creativos y reflexivos y la biblioteca escolar como centro de apoyo de todo lo vinculado al proceso de enseñanza aprendizaje, la lectura, la recreación.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Cerrar Ventana